* {
  -webkit-box-sizing: border-box;
}

.rails-panel {
  background: #fff;
}


.data-grid {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#tabs, table, tbody, tr, th, .data-grid {
  -webkit-touch-callout: none;
}

/*
.data-grid table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  font-family: Lucida Grande, sans-serif;
  font-size: 11px;
}

.data-grid table th {
    background-image: url(../images/glossyHeader.png);
    background-repeat: repeat-x;
    border-right: 1px solid rgb(179, 179, 179);
    border-bottom: 1px solid rgb(179, 179, 179);
    height: 30px;
    font-weight: bold;
    padding: 0 6px;
    white-space: nowrap;
}

.data-grid table.stupidtable th[data-sort] {
    cursor: pointer;
}

.data-grid table td {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  vertical-align: middle;
  padding: 8px 4px;
  white-space: nowrap;
  overflow: hidden;
}
*/
.data-grid .data-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 30px;
    right: 0px;
    overflow-x: hidden;
    overflow-y: overlay;
}










.split-view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}


.split-view-contents {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
}


@media screen and (max-width: 1050px) {
  .split-view-contents-requests {
    left: 20px;
    //width: 480px;
	width: 70%
    bottom:50%;
    //width:100%;
  }

  .split-view-contents-details {
	
    top:50%;
    width:30%;
  }

  #hdivider {
    background: #eee;
    border-top: 1px solid #A3A3A3;
    height: 3px;
    cursor: ns-resize;
  }

  #vdivider {
    display: none;
  }
}


@media screen and (min-width: 1051px) {
  .split-view-contents-requests {
    bottom: none;
    height: 100%;
   //margin-left: 2px;
   margin-right: 10px;
   padding-right:opx;
   // width: 481px;
   width : 70%
  }

  .split-view-contents-details {
    top:0px;
    height:auto;
    right: 0px;
    //left: 480px;
   // width: auto;
    //min-width: 365px;
	width: 30%
  }

  #hdivider {
    display:none;
  }

  #vdivider {
    background: #fff;
    border-right: 1px solid rgb(179, 179, 179);
    width: 3px;
    float: left;
    height: 100%;
    cursor: ew-resize;
  }

}



.tabbed-pane {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  height: 100%;
}

.tabbed-pane-header {
  height: 34px;
  padding-top: 0px;
  white-space: nowrap;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ECECEC), to(#D9D9D9));
  border-bottom: 1px solid #A3A3A3;
}

.tabbed-pane-header-contents {
  margin: 0 -31px;
}



.tabbed-pane-header-tab {
  float: left;
  //margin-top: 2px;
  font-size: 0px;
  font-weight: bold;
  color: #2E2E2E;
  background: transparent;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  vertical-align: middle;
  //padding: 3px 4px 2px 4px;
  //height: 21px;
  //border: 1px solid transparent;
  border-bottom: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tabbed-pane-header-tab-title {
  vertical-align: top;
  font-family: Lucida Grande, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #2E2E2E;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  white-space: nowrap;
  display:block;
  padding: 0 10px;
  text-align: center;
}

.tabbed-pane-header-tab.ui-tabs-active {
  background-color: white;
  border: 1px solid #A3A3A3;
  border-bottom: none;
}

.tabbed-pane-header-tab a {
  text-decoration: none;
}

.tabbed-pane-header-tab, .tabbed-pane-header-tab a, .tabbed-pane-header-tab a:active {
  outline: none;
}

.tabbed-pane-content {
  -webkit-box-flex: 1;
  position: relative;
  overflow: auto;
  padding: 10px;
}
 .fluid {
  width: 100%
}




